<div class="page-group">
    <div id="page-address-select" class="page page-current">
        <nav class="bar bar-tab my-booking-fix-bar">
            <a href="/address/add" class="my-28-text">新增地址</a>
        </nav>
        <div class="content native-scroll">
            <div class="list-block media-list my-select-address">
                <ul>
                    <li>
                        <a href="/book" class="item-content external">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">
                                        <label class="label-checkbox">
                                            <input type="radio" checked name="single-radio">
                                            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                        </label>王老板</div>
                                    <div class="item-after">15157333000</div>
                                </div>
                                <div class="item-text my-gray-text">浙江省 嘉兴市 南湖区XX路XX号XX小区 门口开心果园
                                </div>
                            </div>
                        </a>
                        <div class="row">
                            <div class="col-50 my-gray-text my-22-text">&nbsp;</div>
                            <div class="col-50 my-right-text"><a href="/address/modify" class="my-gray-text my-22-text"><span class="icon icon-edit"></span> 修改</a></div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="list-block media-list my-select-address">
                <ul>
                    <li>
                        <a href="/book" class="item-content external">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">老板娘</div>
                                    <div class="item-after">15157333000</div>
                                </div>
                                <div class="item-text my-gray-text">浙江省 嘉兴市 南湖区XX路XX号XX小区 门口开心果园
                                </div>
                            </div>
                        </a>
                        <div class="row">
                            <div class="col-50 my-gray-text my-22-text">已设为默认地址 </div>
                            <div class="col-50 my-right-text"><a href="/address/modify" class="my-gray-text my-22-text"><span class="icon icon-edit"></span> 修改</a></div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="list-block media-list my-select-address">
                <ul>
                    <li>
                        <a href="/book" class="item-content external">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">李老板</div>
                                    <div class="item-after">15157333000</div>
                                </div>
                                <div class="item-text my-gray-text">浙江省 嘉兴市 南湖区XX路XX号XX小区 门口开心果园
                                </div>
                            </div>
                        </a>
                        <div class="row">
                            <div class="col-50 my-gray-text my-22-text">&nbsp; </div>
                            <div class="col-50 my-right-text"><a href="/address/modify" class="my-gray-text my-22-text"><span class="icon icon-edit"></span> 修改</a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type="text/javascript" src="//g.alicdn.com/msui/sm/0.6.2/js/sm-city-picker.min.js" charset="utf-8"></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='../js/controller/address-ctrl'></script>
