<div class="page-group">
    <div id="page-book-complete" class="page page-current">
        <div class="content native-scroll">
            <div class="content-padded">
                <div class="my-none-cart my-booking-complete">
                    <span class="icon icon-success"></span>
                    <h3 class="my-32-text">订单提交成功!</h3>
                    <p class=" my-gray-text">您可以在“<a href="#" class="my-red-text external">我的-我的订单</a>”中查看订单详情。</p>
                    <a href="/" class="button button-fill-white-red external">返回首页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='../js/controller/book-ctrl'></script>
