<div class="page-group">
    <div id="page-book-detail" class="page page-current">
        <div class="content native-scroll">
            <div class="list-block my-booking-detail ">
                <ul v-cloak>
                    <li class="my-28-text">订单编号 : ${orderId}</li>
                    <li class="my-26-text my-gray-text">下单时间：${order.FollowingData.SubmitTime}
                        <br> 订单状态：
                        <span class="my-red-text">${order.statusNote}</span>
                        <br> 订单金额：￥${order.Amount}
                    </li>
                </ul>
            </div>

            <div class="list-block  media-list my-booking-detail my-booking-address">
                <ul v-cloak>
                    <li class="my-28-text">付款方式: <span class="my-gray-text">${order.PayMent}</span></li>
                    <li class="my-0-pad">
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">${order.ReceiverName}</div>
                                    <div class="item-after">${order.ReceiverMobile}</div>
                                </div>
                                <div class="item-text my-gray-text">${order.PCD} ${order.Address}
                                </div>
                            </div>
                            <span class="icon icon-address"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="content-block-title my-list-title my-t20-mar">商品列表:</div>
            <div class="list-block media-list my-booking-list">
                <ul v-cloak>
                    <template v-for="sku in order.Skus" track-by="SpuId">
                        <li>
                            <div class="item-content">
                                <div class="item-media">
                                    <a :href="'/product/detail?id='+sku.SpuId" class="external">
                                        <img :src="sku.ImgUrl" style="width: 3.4rem;">
                                    </a>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title  my-24-text">${sku.Name}
                                        </div>
                                    </div>
                                    <div class="item-subtitle my-gray-text  my-24-text">${sku.SizeName}</div>
                                    <div class="row">
                                        <div class="col-50 my-red-text my-24-text">￥${sku.Price}</div>
                                        <div class="col-50 my-right-text my-24-text">x${sku.Qty}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
            <div class="content-padded my-a-booking-detail"><a href="#" @click.prevent="payOrder()" class="button button-fill" v-if="order.canPay">去付款</a> <a href="#" @click.prevent="cancelOrder()" class="button my-white-bg" v-if="order.canCancel">取消订单</a> <a href="#" @click.prevent="reBuy()" class="button my-white-bg" v-if="order.reBuy">再次购买</a></div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='../js/controller/book-ctrl'></script>
