<div class="page-group">
    <div id="cart" class="page page-current">
        <nav class="bar bar-tab my-nav-bar">
            <ul>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="all-radio" v-model="allChecked">
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner my-28-text">全选</div>
                    </label>
                </li>
                <li class="my-li-right">
                    <span><span class="my-gray-text">合计 :</span> <span class="my-red-text my-30-text">￥302.50</span></span>
                    <a href="#" class="my-28-text">去下单</a>
                </li>
            </ul>
        </nav>

        <div class="content native-scroll">
            <div class="list-block media-list my-list-cart">
                <ul>

                    <li>
                        <label class="label-checkbox item-content">
                            <input type="checkbox" name="my-radio">
                            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                            <div class="item-inner">
                                <div class="item-content">
                                    <div class="item-media"><img src="../images/demo/cart.gif" style="width: 3.4rem;"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">商品名称商品名称商品名称商品名称商品名称商品名称</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>

                        <div class="item-content my-div-cart-detail-box">
                            <div class="item-inner">
                                <div class="my-div-cart-detail">
                                    <p>规格值规格值规格值规格值规格值规格值</p>
                                    <div class="row">
                                        <div class="col-50 my-red-text my-26-text">￥157.00</div>
                                        <div class="col-50 my-right-text">
                                            <p class="p-num fn-op-num"> <em class="em-op em-op-d">-</em>
                                                <input name="txt" type="text" class="txt txt-num" value="1"><em class="em-op em-op-a">+</em></p>
                                            <a class="icon icon-delete my-gray-text"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <label class="label-checkbox item-content">
                            <input type="checkbox" name="my-radio">
                            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                            <div class="item-inner">
                                <div class="item-content">
                                    <div class="item-media"><img src="../images/demo/cart.gif" style="width: 3.4rem;"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">商品名称商品名称商品名称商品名称商品名称商品名称</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                        <div class="item-content my-div-cart-detail-box">
                            <div class="item-inner">
                                <div class="my-div-cart-detail">
                                    <p>规格值规格值规格值规格值规格值规格值</p>
                                    <div class="row">
                                        <div class="col-50 my-red-text my-26-text">￥157.00</div>
                                        <div class="col-50 my-right-text">
                                            <p class="p-num fn-op-num"> <em class="em-op em-op-d">-</em>
                                                <input name="txt" type="text" class="txt txt-num" value="1"><em class="em-op em-op-a">+</em></p>
                                            <a class="icon icon-delete my-gray-text"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-content my-div-cart-detail-box">
                            <div class="item-inner">
                                <div class="my-div-cart-detail">
                                    <p>规格值规格值规格值规格值规格值规格值</p>
                                    <div class="row">
                                        <div class="col-50 my-red-text my-26-text">￥157.00</div>
                                        <div class="col-50 my-right-text">
                                            <p class="p-num fn-op-num"> <em class="em-op em-op-d">-</em>
                                                <input name="txt" type="text" class="txt txt-num" value="1"><em class="em-op em-op-a">+</em></p>
                                            <a class="icon icon-delete my-gray-text"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <label class="label-checkbox item-content">
                            <input type="checkbox" name="my-radio">
                            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                            <div class="item-inner">
                                <div class="item-content">
                                    <div class="item-media"><img src="../images/demo/cart.gif" style="width: 3.4rem;"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">商品名称商品名称商品名称商品名称商品名称商品名称</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                        <div class="item-content my-div-cart-detail-box">
                            <div class="item-inner">
                                <div class="my-div-cart-detail">
                                    <p>规格值规格值规格值规格值规格值规格值</p>
                                    <div class="row">
                                        <div class="col-50 my-red-text my-26-text">￥157.00</div>
                                        <div class="col-50 my-right-text">
                                            <p class="p-num fn-op-num"> <em class="em-op em-op-d">-</em>
                                                <input name="txt" type="text" class="txt txt-num" value="1"><em class="em-op em-op-a">+</em></p>
                                            <a class="icon icon-delete my-gray-text"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-content my-div-cart-detail-box">
                            <div class="item-inner">
                                <div class="my-div-cart-detail">
                                    <p>规格值规格值规格值规格值规格值规格值</p>
                                    <div class="row">
                                        <div class="col-50 my-red-text my-26-text">￥157.00</div>
                                        <div class="col-50 my-right-text">
                                            <p class="p-num fn-op-num"> <em class="em-op em-op-d">-</em>
                                                <input name="txt" type="text" class="txt txt-num" value="1"><em class="em-op em-op-a">+</em></p>
                                            <a class="icon icon-delete my-gray-text"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='../js/controller/cart-ctrl'></script>
