<div class="page-group">
    <div id="page-cart" class="page page-current">
        <nav class="bar bar-tab my-nav-bar">
            <ul>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="all-radio" v-model="allChecked">
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner my-28-text">全选</div>
                    </label>
                </li>
                <li class="my-li-right">
                    <span><span class="my-gray-text">合计 :</span> <span class="my-red-text my-30-text" v-cloak>￥${total}</span></span>
                    <a href="/book/confirm" class="my-28-text external">去下单</a>
                </li>
            </ul>
        </nav>

        <div class="content native-scroll">
            <div class="list-block media-list my-list-cart">
                <ul v-cloak>
                    <template v-for="cart in cartsAry" track-by="productId">
                        <li>
                            <div class="item-content">
                                <label class="label-checkbox">
                                    <input type="checkbox" name="my-radio" :value="cart.productId" v-model="buyList">
                                    <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                </label>
                                <div class="item-inner">
                                    <div class="item-content">
                                        <a :href="'/product/detail?id='+cart.productId" class="external">
                                            <div class="item-media">
                                                <img :src="cart.image" style="width: 3.4rem;">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">${cart.name}</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <template v-for="sku in cart.skus" track-by="cartId">
                                <div class="item-content my-div-cart-detail-box" v-cloak>
                                    <div class="item-inner">
                                        <div class="my-div-cart-detail">
                                            <p>${sku.size}</p>
                                            <div class="row">
                                                <div class="col-50 my-red-text my-26-text">￥${sku.price}</div>
                                                <div class="col-50 my-right-text">
                                                    <p class="p-num fn-op-num"><em @click.prevent="subQty(cart.productId, sku.cartId)" class="em-op em-op-d">-</em><input @blur="editQty(cart.productId, sku.cartId)" name="txt" type="text" class="txt txt-num" v-model="sku.qty"><em @click.prevent="addQty(cart.productId, sku.cartId)" class="em-op em-op-a">+</em></p>
                                                    <a href="#" @click.prevent="delSku(cart.productId, sku.cartId)" class="icon icon-delete my-gray-text external"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='../js/controller/cart-ctrl.min'></script>
