<div class="page-group">
    <div id="page-change-shop-style" class="page page-current">
        <div class="content native-scroll my-shop-list">
            <div class="list-block">
                <ul>
                    <li>
                        <a href="#" class="item-content my-shop-active external">
                            <div class="item-media"><i class="icon icon-check"></i></div>
                            <div class="item-inner">
                                <div class="item-title">餐饮</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-content external">
                            <div class="item-media"><i class="icon icon-check"></i></div>
                            <div class="item-inner">
                                <div class="item-title">超市</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='../js/controller/user-ctrl.min'></script>
