<div class="page-group">
    <div id="page-change-password" class="page page-current">
        <div class="content native-scroll">
            <div class="content-padded">
                <p class="my-gray-text"></p>
                <div class="list-block my-0-mar">
                    <ul class="my-ul-border my-0-mar">
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-lock"></i></div>
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="password" placeholder="请输入旧密码" v-model="oldPW">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <p class="my-gray-text"></p>
                <div class="list-block my-0-mar">
                    <ul class="my-ul-border my-0-mar">
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-lock"></i></div>
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="password" placeholder="请输入新密码" v-model="newPW">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-lock"></i></div>
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="password" placeholder="请再次输入新密码" v-model="rePW">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <p class="my-50-mar" v-cloak><a href="#" class="button button-fill button-big" :class="{'button-disable': isDisable}">确认</a></p>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='../js/controller/user-ctrl'></script>
