<div class="page-group">
    <div id="page-choose-shop-style" class="page page-current">
        <header class="bar bar-nav">
            <a class="icon icon-left pull-left my-red-text"></a>
            <h1 class="title">选择店铺类型</h1>
        </header>
        <div class="content">
            <div class="content-padded">
                <p class="my-gray-text my-26-text">请选择您的店铺类型，以便我们筛选适合您的商品</p>
                <div class="row">
                    <div class="col-50 my-div-home-link"><a href="/index" class="my-gray-text"><span class="icon icon-food"></span><span class="my-28-text my-display-block">我是餐饮类门店</span></a></div>
                    <div class="col-50 my-div-home-link"><a href="/index" class="my-gray-text"><span class="icon icon-supermarke"></span><span class="my-28-text my-display-block">我是超市类门店</span></a></div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type="text/javascript" src="//g.alicdn.com/msui/sm/0.6.2/js/sm-city-picker.min.js" charset="utf-8"></script>
<script type='text/javascript' src='js/lib/requirejs.min.js' data-main='js/controller/index-ctrl'></script>
