<div class="page-group">
    <div id="page-index" class="page page-current">
        <header class="bar bar-nav my-search-home">
            <div class="searchbar">
                <div class="search-input">
                    <form action="javascript:return true;">
                        <label class="icon icon-search" for="search"></label>
                        <input type="search" id="search" placeholder="商品名称" v-model="searchWord" @keyup.enter="search()"/>
                    </form>
                    <a href="#" class="icon icon-clear" v-show="searchWord.length > 0"></a>
                </div>
            </div>
            <a class="my-a-message external" href="/users/my-message">
                <span class="icon icon-message"></span>
                <span class="badge" v-cloak v-if="message > 0">${message}</span>
            </a>
        </header>

        <nav class="bar bar-tab my-bar">
            <a class="tab-item external active" href="#">
                <span class="icon icon-homeactive"></span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item external" href="/product/class">
                <span class="icon icon-class"></span>
                <span class="tab-label">分类</span>

            </a>
            <a class="tab-item external" href="/cart/cart">
                <span class="icon icon-cart"></span>
                <span class="tab-label">购物车</span>
            </a>
            <a class="tab-item external" href="/users">
                <span class="icon icon-my"></span>
                <span class="tab-label">我的</span>
                <span class="badge" v-cloak v-if="message > 0">${message}</span>
            </a>
        </nav>

        <div class="content native-scroll">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <template v-for="carousel in carousels">
                        <div class="swiper-slide">
                            <a class="external" href="#" @click.prevent="carouselClick($index)">
                                <img :src="carousel.Img" alt="">
                            </a>
                        </div>
                    </template>
                </div>
                <div class="swiper-pagination"></div>
            </div>

            <div class="row my-div-home-feature">
                <div class="col-40">
                    <p>
                        <a class="external" href="/product/secKill">
                            <img :src="secKillImg" style="width: 6.06rem;" alt="" />
                        </a>
                    </p>
                </div>
                <div class="col-60">
                    <div class="my-div-group">
                        <p>
                            <a class="external" href="/product/group">
                                <img :src="groupImg" style="width: 8.7rem;" alt="" />
                            </a>
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-50 my-div-new">
                            <h3 class="my-blue-txt">
                                <a class="external" href="/product/new">
                                    <img :src="newsImg"  style="width: 4.65rem;" alt=""/>
                                </a>
                            </h3>
                        </div>
                        <div class="col-50 my-div-hot">
                            <h3 class="my-red-text">
                                <a class="external" href="/product/sales">
                                    <img :src="salesImg"  style="width: 4.65rem;" alt=""/>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <template v-for="recommend in recommends">
                <div class="my-div-feature-column">
                    <div class="row" v-cloak>
                        <div class="col-50 my-div-feature-title">${recommend.RecommendName}</div>
                        <div class="col-50 my-right-text">
                            <a class="my-red-text external" :href="'/product/recommend?id='+recommend.SysNo+'&name='+recommend.RecommendName">更多<span class="icon icon-more"></span></a>
                        </div>
                    </div>
                    <ul class="my-ul clearfix">
                        <template v-for="item in recommend.RecommendItems">
                            <li>
                                <a href="#" @click.prevent="goToDetail(recommend.SysNo, $index)" class="my-img-auto external"><img :src="item.ImgUrl" onerror="this.src='images/home-blank.png'" alt="">
                                    <h3 class="my-24-text my-black-text">${item.ProductName}</h3>
                                    <p class="my-0-mar my-28-text my-red-text">￥${item.MinPrice === item.MaxPrice ? item.MaxPrice : item.MinPrice}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </template>

        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='js/lib/swiper.min.js' charset='utf-8'></script>
<script type='text/javascript' src='js/lib/requirejs.min.js' data-main='js/controller/index-ctrl'></script>
