<div class="page-group">
    <div class="page page-current my-white-bg">
        <div class="content native-scroll">
            <div class="content-padded">
                <h2 class="my-36-text my-center-text">退换货规则</h2>
                <p class="my-26-text">1. 为保障您的权益，请您收到货物后即与配送人员当面核对商品的种类、数量、规格、赠品、金额、保质期等是否正确，确认无误后再进行签收。 在特殊情况下，您委托他人签收的行为视同于您本人已对商品进行签收。您对商品进行签收后，我们将不再接受以上问题的投诉。 如有任何问题，请致电：<span class="my-red-text">400-100-3521</span>，客服人员会及时为您处理。 谢谢配合！</p>
                <ol class="my-26-text">
                    <li>如商品包装破损，请当面及时向配送人员提出，以便我们能尽快的为您处理。</li>
                    <li>对于商品数量缺失的情况，我们只受理当场投诉，即货物配送到家后，客户当面清点货物数量并及时向配送员提出的投诉。一旦签收，我们将不受理此退换要求</li>
                </ol>
                <p class="my-26-text"><strong>2.退换货条款</strong></p>
                <p>食品类商品</p>
                <ol class="my-26-text">
                    <li>为保证食品安全，请顾客在签收此类商品时仔细查验，当场开箱验收。若商品存在外包装破损、缺少、变质等问题，应在快递单据上注明，并立即与我们的客服联系。</li>
                    <li>食品类商品，如不影响二次销售，支持自签收商品七日内无理由退货，并非我们的原因或并非商品本身质量原因引发的退货，由此产生的运送服务费将由客户自行承担。</li>
                    <li>经合法食品检验机构检验，确属于不符合食品安全标准的食品，予以退换货。</li>
                    <li>对国家质量监督检验检疫总局公告的存在质量问题的食品，予以退货。</li>
                </ol>
                <p class="my-26-text"><strong>退换货流程</strong></p>
                <ol class="my-26-text">
                    <li>请您仔细阅读我们的退换货规则，然后电话联系我们的客服人员；</li>
                    <li>对于符合退换货条件的商品，由我们的客服人员受理退换货业务；</li>
                    <li>请您提供订单号、退换货理由、退换货要求以及退款账户，对于产生的退款我们只退回您支付的金额，抵用券、优惠券等不予退回，余额支付部分也只退回到您的余额账户。货到付款商品，客服人员确认后可以少收。</li>
                </ol>
                <p class="my-26-text"><strong>如何退款</strong></p>
                <p class="my-26-text">申请退款：</p>
                <p class="my-26-text">客户签收货物之前的退款，请致电400-100-3521，客服审核后，财务退款。</p>
                <p class="my-26-text">退款方式：</p>
                <ol class="my-26-text">
                    <li>银行卡退款：货款直接退至客户原来汇入款或者另外提供的银行卡账户</li>
                    <li>公司转账：公司账户或支票支付的，需与客服人员确认公司相关信息后进行公司转账</li>
                    <li>支付宝退款：货款退至支付订单时的支付宝账号内或另外提供的支付宝账号</li>
                </ol>
            </div>
        </div>
    </div>
</div>
