<div class="page-group">
    <div class="page page-current my-white-bg">
        <div class="content native-scroll">
            <div class="content-padded">
                <h2 class="my-36-text my-center-text">退换货规则</h2>
                <p class="my-26-text my-gray-text">为保障您的权益，请您收到货物后即与配送人员当面核对商品的种类、数量、规格、赠品、金额、保质期等是否正确，确认无误后再进行签收。在特殊情况下，您委托他人签收的行为视同于您本人已对商品进行签收。您对商品进行签收后，我们将不再接受以上问题的投诉。如有任何问题，请致电：<span class="my-red-text">400-100-3521</span>，客服人员会及时为您处理。谢谢配合！</p>
                <ul class="my-26-text my-gray-text">
                    <li>如商品包装破损，请当面及时向配送人员提出，以便我们能尽快的为您处理。</li>

                    <li>对于商品数量缺失的情况，我们只受理当场投诉，即货物配送到家后，客户当面清点货物数量并及时向配送员提出的投诉。一旦签收，我们将不受理此退换要求</li>
                </ul>
                <p class="my-26-text"><strong>退换货条款</strong></p>
            </div>
        </div>
    </div>
</div>
