<div class="page-group">
    <div id="page-my-book" class="page page-current">
        <div class="buttons-tab my-buttons-tab-fixed">
            <a href="#tab1" class="tab-link active button">一个月内订单</a>
            <a href="#tab2" class="tab-link button">一个月前订单</a>
        </div>
        <div class="content native-scroll my-tab-fixed">
            <div class="tabs">
                <div id="tab1" class="infinite-scroll tab active">
                    <template v-for="order in orderListNow" track-by="OrderId">
                        <div class="list-block  media-list my-booking-detail">
                            <ul>
                                <li class="my-24-text">
                                    <div class="row" v-cloak>
                                        <div class="col-50 my-gray-text">下单日期 : ${order.OrderTime}</div>
                                        <div class="col-50 my-red-text my-right-text">${order.statusNote}</div>
                                    </div>
                                </li>
                                <li class="my-0-pad">
                                    <a :href="'/book/detail?id='+order.OrderId" class="item-link item-content external">
                                        <div class="item-media my-div-img-row">
                                            <template v-for="img in order.ImgUrlList">
                                                <img :src="img" style="width: 3.4rem;">
                                            </template>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="row my-div-booking-list" v-cloak>
                                        <div class="col-50 my-gray-text">
                                            <a href="#" @click.prevent="payOrder($index)" class="button button-red my-inline-display" v-if="order.canPay">去付款</a>
                                            <a href="#" @click.prevent="cancelOrder($index)" class="button my-inline-display" v-if="order.canCancel">取消订单</a>
                                            <a href="#" @click.prevent="reBuy($index)" class="button my-inline-display">再次购买</a>
                                        </div>
                                        <div class="col-50 my-right-text my-22-text" v-cloak>共${order.TotalQuantity}件商品，合计 : ￥${order.Amount}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </template>
                    <div class="infinite-scroll-preloader" v-show="orderListNow.length < countNow">
                        <div class="preloader"></div>
                    </div>
                </div>
                <div id="tab2" class="tab infinite-scroll">
                    <div class="my-none-cart">
                        <span class="icon icon-bookingnone"></span>
                        <p class="my-666-text">您还没有相关订单</p>
                    </div>
                    <div class="month-ago infinite-scroll-preloader" v-show="orderListAgo.length < countAgo">
                        <div class="preloader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='../js/controller/user-ctrl'></script>
