<div class="page-group">
    <div id="page-my-book" class="page page-current">
        <div class="content native-scroll">
            <div class="buttons-tab">
                <a href="#tab1" class="tab-link active button">一个月内订单  </a>
                <a href="#tab2" class="tab-link button">一个月前订单</a>
            </div>

            <div class="tabs">
                <div id="tab1" class="tab active">
                    <div class="list-block  media-list my-booking-detail">
                        <ul>
                            <li class="my-24-text">
                                <div class="row">
                                    <div class="col-50 my-gray-text">下单日期 : 2015-07-09</div>
                                    <div class="col-50 my-red-text my-right-text">待付款</div>
                                </div>
                            </li>
                            <li class="my-0-pad">
                                <a href="#" class="item-link item-content">
                                    <div class="item-media my-div-img-row"><img src="../images/demo/cart.gif" style="width: 3.4rem;"> <img src="../images/demo/cart.gif" style="width: 3.4rem;"></div>
                                </a>
                            </li>
                            <li>
                                <div class="row my-div-booking-list">
                                    <div class="col-50 my-gray-text"><a href="#" class="button button-red my-inline-display">去付款</a> <a href="#" class="button my-inline-display">取消订单</a></div>
                                    <div class="col-50 my-right-text my-22-text">共4件商品，合计 : ￥290.00</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-block  media-list my-booking-detail">
                        <ul>
                            <li class="my-24-text">
                                <div class="row">
                                    <div class="col-50 my-gray-text">下单日期 : 2015-07-09</div>
                                    <div class="col-50 my-red-text my-right-text">待审核</div>
                                </div>
                            </li>
                            <li class="my-0-pad">
                                <a href="#" class="item-link item-content">
                                    <div class="item-media my-div-img-row"><img src="../images/demo/cart.gif" style="width: 3.4rem;"> <img src="../images/demo/cart.gif" style="width: 3.4rem;"> <img src="../images/demo/cart.gif" style="width: 3.4rem;"> <span class="my-span-more">...</span></div>
                                </a>
                            </li>
                            <li>
                                <div class="row my-div-booking-list">
                                    <div class="col-50 my-gray-text"><a href="#" class="button my-inline-display">取消订单</a></div>
                                    <div class="col-50 my-right-text my-22-text">共4件商品，合计 : ￥290.00</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-block  media-list my-booking-detail">
                        <ul>
                            <li class="my-24-text">
                                <div class="row">
                                    <div class="col-50 my-gray-text">下单日期 : 2015-07-09</div>
                                    <div class="col-50 my-red-text my-right-text">已完成</div>
                                </div>
                            </li>
                            <li class="my-0-pad">
                                <a href="#" class="item-link item-content">
                                    <div class="item-media my-div-img-row"><img src="../images/demo/cart.gif" style="width: 3.4rem;"> </div>
                                </a>
                            </li>
                            <li>
                                <div class="row my-div-booking-list">
                                    <div class="col-50 my-gray-text">&nbsp;</div>
                                    <div class="col-50 my-right-text my-22-text">共4件商品，合计 : ￥290.00</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-block  media-list my-booking-detail">
                        <ul>
                            <li class="my-24-text">
                                <div class="row">
                                    <div class="col-50 my-gray-text">下单日期 : 2015-07-09</div>
                                    <div class="col-50 my-red-text my-right-text">已取消</div>
                                </div>
                            </li>
                            <li class="my-0-pad">
                                <a href="#" class="item-link item-content">
                                    <div class="item-media my-div-img-row"><img src="../images/demo/cart.gif" style="width: 3.4rem;"> <img src="../images/demo/cart.gif" style="width: 3.4rem;"></div>
                                </a>
                            </li>
                            <li>
                                <div class="row my-div-booking-list">
                                    <div class="col-50 my-gray-text"><a href="#" class="button my-inline-display">再次购买</a></div>
                                    <div class="col-50 my-right-text my-22-text">共4件商品，合计 : ￥290.00</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="tab2" class="tab">
                    <div class="my-none-cart">
                        <span class="icon icon-bookingnone"></span>
                        <p class="my-666-text">您还没有相关订单</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='../js/controller/user-ctrl'></script>
