<div class="page-group">
    <div id="page-my-buy-report-result" class="page page-current">
        <nav class="bar bar-tab">
            <div class="my-buy-report-total my-gray-text">实付合计：<span class="my-red-text">￥700</span> 优惠合计：<span class="my-red-text">￥100</span></div>
        </nav>

        <div class="content native-scroll">
            <table class="my-table-fix" width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th width="50%">商品名称</th>
                    <th width="20%">数量</th>
                    <th width="30%">金额</th>
                </tr>
                </thead>
            </table>

            <table class="my-table-buy-report my-gray-text" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td width="50%">单品名称1 </td>
                    <td width="20%">2</td>
                    <td width="30%">￥600</td>
                </tr>
                <tr>
                    <td>单品名称2</td>
                    <td>2</td>
                    <td>￥600</td>
                </tr>
                <tr>
                    <td>单品名称3</td>
                    <td>2</td>
                    <td>￥600</td>
                </tr>
                <tr>
                    <td>单品名称4 </td>
                    <td>2</td>
                    <td>￥600</td>
                </tr>
                <tr>
                    <td>单品名称2</td>
                    <td>2</td>
                    <td>￥600</td>
                </tr>
                <tr>
                    <td>单品名称3</td>
                    <td>2</td>
                    <td>￥600</td>
                </tr>
                <tr>
                    <td>单品名称4 </td>
                    <td>2</td>
                    <td>￥600</td>
                </tr>
                <tr>
                    <td>单品名称2</td>
                    <td>2</td>
                    <td>￥600</td>
                </tr>
                <tr>
                    <td>单品名称3</td>
                    <td>2</td>
                    <td>￥600</td>
                </tr>
                <tr>
                    <td>单品名称2</td>
                    <td>2</td>
                    <td>￥600</td>
                </tr>
                <tr>
                    <td>单品名称3</td>
                    <td>2</td>
                    <td>￥600</td>
                </tr>
                <tr>
                    <td>单品名称2</td>
                    <td>2</td>
                    <td>￥600</td>
                </tr>
                <tr>
                    <td>单品名称3</td>
                    <td>2</td>
                    <td>￥600</td>
                </tr>
                <tr>
                    <td>单品名称2</td>
                    <td>2</td>
                    <td>￥600</td>
                </tr>
                <tr>
                    <td>单品名称3</td>
                    <td>2</td>
                    <td>￥600</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
