<div class="page-group">
    <div id="page-product-list" class="page page-current">
        <header class="bar bar-nav row my-search-top">
            <div class="search-input col-80">
                <form action="javascript:return true;">
                    <label class="icon icon-search" for="search"></label>
                    <input type="search" id="search" placeholder="商品名称" v-model="searchWord" @keyup.enter="search()"/>
                </form>
                <a href="#" class="icon icon-clear"></a>
            </div>
            <a href="#" @click.prevent="search()" class="button button-fill-white  col-20">搜索</a>
        </header>

        <div class="content infinite-scroll infinite-scroll-bottom" data-distance="50">
            <ul class="my-ul my-product-list" v-cloak>
                <template v-for="product in products" track-by="SysNo">
                    <li>
                        <span class="my-img-auto">
                            <a href="#" @click.prevent="goToDetail($index)" class="external">
                                <img :src="product.ImgUrl" width="316" height="316" alt="" onerror="this.src='../images/product-blank.png'"/>
                            </a>
                        </span>
                        <h3 class="my-28-text" @click.prevent="goToDetail($index)">${product.Name.length > 15 ? product.Name.substring(0,15)+'...':product.Name}</h3>
                        <div class="row">
                            <div class="col-50 my-28-text my-red-text" @click.prevent="goToDetail($index)">￥${product.MinPrice === product.MaxPrice ? product.Price:product.MinPrice+'~'+product.MaxPrice}</div>
                            <div class="col-50">
                                <a href="#" @click.prevent="OpenCart($index)" class="icon icon-addcart"></a>
                            </div>
                        </div>
                    </li>
                </template>
            </ul>
            <div class="infinite-scroll-preloader" v-show="products.length > 10">
                <div class="preloader"></div>
            </div>
        </div>

        <a href="/cart/cart-no-footer" class="my-product-cart external">
            <span class="icon icon-cart"></span>
            <span class="badge" v-cloak>${cartNum > 99 ? '...':cartNum}</span>
        </a>

    </div>
</div>

<div id="popup-cart" class="popup popup-cart">
    <span class="icon icon-close close-popup"></span>
    <div class="list-block media-list">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-media"><img :src="curImg" style='width: 3.65rem;'  onerror="this.src='../images/product-blank.png'"></div>
                    <div class="item-inner" v-cloak>
                        <div class="item-title-row">
                            <div class="item-title">${product.Name}
                            </div>
                        </div>
                        <div class="item-subtitle my-red-text my-30-text">￥${curPrice}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-padded">
        <p class="my-26-text">规格一</p>
        <ul class="my-ul-spec my-ul clearfix">
            <template v-for="sku in product.SkuList" track-by="SysNo">
                <li :class="{'my-spec-on': $index === 0}" :value="$index"><a href="#">${sku.SizeName}</a></li>
            </template>
        </ul>
        <p class="my-26-text">购买数量&nbsp;&nbsp;&nbsp;<span class="p-num fn-op-num"> <em class="em-op em-op-d">-</em><input name="txt" type="text" class="txt txt-num" v-model="addCartNum"><em class="em-op em-op-a">+</em></span></p>
    </div>
    <a href="#" @click.prevent="addToCart()" class="my-a-cart close-popup">加入采购车</a>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='../js/controller/product-ctrl.min'></script>
