<div class="page-group">
    <div id="product-group-detail" class="page page-current">
        <header class="bar bar-nav">
            <a class="icon icon-left pull-left my-red-text"></a>
            <h1 class="title">商品详情</h1>
        </header>

        <nav class="bar bar-tab my-product-bar">
            <div class="row">
                <div class="col-33" v-cloak>
                    <a href="#">
                        <span class="icon icon-cart"></span>
                        <span class="badge">${cartNum}</span>
                    </a>
                </div>
                <div class="col-66"><a href="#" id="addIntoCart" class="my-28-text">加入采购车</a></div>
            </div>
        </nav>

        <div class="content native-scroll">
            <div class="swiper-container swiper-container-horizontal" data-space-between="10">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../images/demo/banner640.gif" alt=""></div>
                    <div class="swiper-slide"><img src="../images/demo/banner6401.gif" alt=""></div>
                    <div class="swiper-slide"><img src="../images/demo/banner6402.gif" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

            <div class="row my-product-title">
                <div class="col-80 my-28-text">商品名称商品名称商品名称商品名称 商品名称商品名称商品名称...
                </div>
                <div class="col-20" v-cloak>
                    <a href="#">
                        <span class="icon icon-like"></span>
                        <span>${liked}</span>
                    </a>
                </div>
            </div>

            <div class="my-product-price my-red-text">￥130</div>

            <div class="my-product-detail">
                <div class="my-28-text">商品详情</div>
                <ul class="my-ul">
                    <li class="item-content">
                        <div class="item-inner clearfix">
                            <div class="item-title">单品名称A</div>
                            <div class="item-after">规格x1 </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner clearfix">
                            <div class="item-title">单品名称A</div>
                            <div class="item-after">规格x1 </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner clearfix">
                            <div class="item-title">单品名称A</div>
                            <div class="item-after">规格x1 </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner clearfix">
                            <div class="item-title">单品名称A</div>
                            <div class="item-after">规格x1 </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner clearfix">
                            <div class="item-title">单品名称A</div>
                            <div class="item-after">规格x1 </div>
                        </div>
                    </li>
                </ul>
                <div class="my-product-detail-img">
                    <p class="my-img-auto"><img src="../images/demo/product-detail.gif" width="600" height="380" alt="" /></p>
                    <p class="my-img-auto"><img src="../images/demo/product-detail.gif" width="600" height="380" alt="" /></p>
                </div>
            </div>
        </div>
        <a href="#" class="my-back-top">
            <span class="icon icon-backtop"></span>
        </a>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='../js/controller/product-group-detail-ctrl'></script>
