<div class="page-group">
    <div id="product-detail" class="page page-current">
        <nav class="bar bar-tab my-product-bar">
            <div class="row">
                <div class="col-33">
                    <a class="external" href="/cart/cart-no-footer">
                        <span class="icon icon-cart"></span>
                        <span class="badge" v-cloak>${cartNum}</span>
                    </a>
                </div>
                <div class="col-66"><a href="#" id="addIntoCart" class="my-28-text">加入采购车</a></div>
            </div>
        </nav>

        <div class="content native-scroll">
            <div class="swiper-container swiper-container-horizontal" data-space-between="10">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../images/demo/banner640.gif" alt=""></div>
                    <div class="swiper-slide"><img src="../images/demo/banner6401.gif" alt=""></div>
                    <div class="swiper-slide"><img src="../images/demo/banner6402.gif" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

            <div class="row my-product-title">
                <div class="col-80 my-28-text">商品名称商品名称商品名称商品名称 商品名称商品名称商品名称...
                </div>
                <div class="col-20" v-cloak>
                    <a href="#">
                        <span class="icon icon-like"></span>
                        <span>${liked}</span>
                    </a>
                </div>
            </div>

            <div class="my-product-price my-red-text"><span class="my-24-text">秒杀价：</span>￥15 <del class="my-22-text my-gray-text">￥230</del></div>

            <div class="my-product-detail">
                <div class="my-28-text">商品详情</div>
                <ul class="my-ul">
                    <li class="item-content">
                        <div class="item-inner clearfix">
                            <div class="item-title">规格</div>
                            <div class="item-after">常指生产的成品或所使用的原材料等规定的质量标准，常用在制造学和物理学中。基本信息(1) </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner clearfix">
                            <div class="item-title">属性1 </div>
                            <div class="item-after">规格是指物件的体积、大小、型号。是用来识别物品的编号。英文翻译[Specifications]。中国最早没有编</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner clearfix">
                            <div class="item-title">属性1 </div>
                            <div class="item-after">规格是指物件的体积、大小、型号。是用来识别物品的编号。英文翻译[Specifications]。中国最早没有编</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner clearfix">
                            <div class="item-title">属性1 </div>
                            <div class="item-after">规格是指物件的体积、大小、型号。是用来识别物品的编号。英文翻译[Specifications]。中国最早没有编</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner clearfix">
                            <div class="item-title">属性2 </div>
                            <div class="item-after">规格是指物件的体积、大小、型号。是用来识别物品的编号。英文翻译[Specifications]。中国最早没有编</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner clearfix">
                            <div class="item-title">属性3 </div>
                            <div class="item-after">规格是指物件的体积、大小、型号。是用来识别物品的编号。英文翻译[Specifications]。中国最早没有编</div>
                        </div>
                    </li>
                </ul>

                <div class="my-product-detail-img">
                    <p class="my-img-auto"><img src="../images/demo/product-detail.gif" width="600" height="380" alt="" /></p>
                    <p class="my-img-auto"><img src="../images/demo/product-detail.gif" width="600" height="380" alt="" /></p>
                </div>
            </div>
        </div>
        <a href="#" class="my-back-top">
            <span class="icon icon-backtop"></span>
        </a>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='../js/controller/product-detail-ctrl'></script>
