<div class="page-group">
    <div id="page-product-class" class="page page-current">
        <header class="bar bar-nav row my-search-top">
            <div class="search-input col-80">
                <label class="icon icon-search" for="search"></label>
                <input type="search" id="search" placeholder="商品名称" v-model="search" @keyup.enter="search()"/>
                <a href="#" class="icon icon-clear"></a>
            </div>
            <a href="#" @click.prevent="search()" class="button button-fill-white  col-20">搜索</a>
        </header>

        <nav class="bar bar-tab my-bar">
            <a class="tab-item external" href="/index">
                <span class="icon icon-home"></span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item external active" href="#">
                <span class="icon icon-classactive"></span>
                <span class="tab-label">分类</span>

            </a>
            <a class="tab-item external" href="/cart/cart">
                <span class="icon icon-cart"></span>
                <span class="tab-label">购物车</span>
            </a>
            <a class="tab-item external" href="/users">
                <span class="icon icon-my"></span>
                <span class="tab-label">我的</span>
                <span class="badge" v-cloak v-if="message > 0">${message}</span>
            </a>
        </nav>


        <div class="content native-scroll">
            <div class="my-tab" v-cloak>
                <template v-for="category in categories">
                    <a :href="'#tab'+category.CategorySysNo" class="tab-link" :class="{'active': $index === 0}">${category.CategoryName}</a>
                </template>
            </div>
            <div class="tabs my-category-tabs">
                <template v-for="category in categories">
                    <div :id="'tab' + category.CategorySysNo" class="tab" :class="{'active': $index === 0}">
                        <div class="content-block clearfix">
                            <p class="my-gray-text my-22-text">子分类</p>
                            <ul class="my-ul my-img-list" v-cloak>
                                <template v-for="child in category.ChildList">
                                    <li>
                                        <a :href="'/product/category?CId='+category.CategorySysNo+'&ChildCId='+child.CategorySysNo" class="my-22-text external">
                                            <span class="my-img-auto"><img :src="child.ImgUrl" width="132" height="132" alt=""   onerror="this.src='../images/product-blank.png'"/></span>
                                            <span>${child.CategoryName}</span>
                                        </a>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='../js/controller/product-ctrl.min'></script>
