<div class="page-group">
    <div id="product-group-detail" class="page page-current">
        <header class="bar bar-nav">
            <a class="icon icon-left pull-left my-red-text"></a>
            <h1 class="title">商品详情</h1>
        </header>

        <nav class="bar bar-tab my-product-bar">
            <div class="row">
                <div class="col-33" v-cloak>
                    <a href="/cart/cart-no-footer" class="external">
                        <span class="icon icon-cart"></span>
                        <span class="badge">${cartNum}</span>
                    </a>
                </div>
                <div class="col-66"><a href="#" class="my-28-text">加入采购车</a></div>
            </div>
        </nav>

        <div class="content native-scroll">
            <div class="swiper-container swiper-container-horizontal" data-space-between="10">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../images/demo/banner640.gif" alt=""></div>
                    <div class="swiper-slide"><img src="../images/demo/banner6401.gif" alt=""></div>
                    <div class="swiper-slide"><img src="../images/demo/banner6402.gif" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

            <div class="row my-product-title">
                <div class="col-80 my-28-text">商品名称商品名称商品名称商品名称 商品名称商品名称商品名称...
                </div>
                <div class="col-20" v-cloak>
                    <a href="">
                        <span class="icon icon-like"></span>
                        <span>${liked}</span>
                    </a>
                </div>
            </div>

            <div class="my-product-price my-red-text">￥130</div>

            <div class="my-product-detail">
                <div class="my-28-text">商品详情</div>
                <ul class="my-ul">
                    <li class="item-content">
                        <div class="item-inner clearfix">
                            <div class="item-title">单品名称A</div>
                            <div class="item-after">规格x1 </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner clearfix">
                            <div class="item-title">单品名称A</div>
                            <div class="item-after">规格x1 </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner clearfix">
                            <div class="item-title">单品名称A</div>
                            <div class="item-after">规格x1 </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner clearfix">
                            <div class="item-title">单品名称A</div>
                            <div class="item-after">规格x1 </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner clearfix">
                            <div class="item-title">单品名称A</div>
                            <div class="item-after">规格x1 </div>
                        </div>
                    </li>
                </ul>
                <div class="my-product-detail-img">
                    <p class="my-img-auto"><img src="../images/demo/product-detail.gif" width="600" height="380" alt="" /></p>
                    <p class="my-img-auto"><img src="../images/demo/product-detail.gif" width="600" height="380" alt="" /></p>
                </div>
            </div>
        </div>
        <a href="" class="my-back-top">
            <span class="icon icon-backtop"></span>
        </a>
    </div>
</div>

<div id="popup-cart" class="popup popup-cart">
    <span class="icon icon-close close-popup"></span>
    <div class="list-block media-list">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-media"><img src="../images/demo/popup.gif" style='width: 3.65rem;'></div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">商品名称商品名称商品名称 商品名称
                            </div>
                        </div>
                        <div class="item-subtitle my-red-text my-30-text">￥130.00</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-padded">
        <p class="my-26-text">规格一</p>
        <ul class="my-ul-spec my-ul clearfix">
            <li class="my-spec-on"><a href="">包</a></li>
            <li><a href="">组</a></li>
            <li><a href="">箱</a></li>
            <li><a href="">箱</a></li>
        </ul>
        <ul class="my-ul-spec my-ul clearfix">
            <li><a href="">500g</a></li>
            <li><a href="">1000g</a></li>
            <li><a href="">2000g</a></li>
            <li><a href="">3000g</a></li>
        </ul>
        <p class="my-26-text">购买数量&nbsp;&nbsp;&nbsp;<span class="p-num fn-op-num"> <em class="em-op em-op-d">-</em><input name="txt" type="text" class="txt txt-num" v-model="addCartNum"><em class="em-op em-op-a">+</em></span></p>
    </div>
    <a href="#" class="my-a-cart close-popup">加入采购车</a>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='../js/controller/product-ctrl'></script>
