<div class="page-group">
    <div id="page-product-flash-deal-list" class="page page-current">
        <header class="bar bar-nav row my-search-top">
            <div class="search-input col-80">
                <label class="icon icon-search" for="search"></label>
                <input type="search" id="search" placeholder="输入关键字..." v-model="search"/>
                <a href="#" class="icon icon-clear"></a>
            </div>
            <a class="button button-fill-white  col-20">搜索</a>
        </header>


        <div class="content native-scroll">
            <div class="list-block media-list my-list-flash-deal">
                <ul v-cloak>
                    <template v-for="product in products" track-by="SysNo">
                        <li>
                            <div class="item-content">
                                <div class="item-media">
                                    <a href="#" @click.prevent="goToDetail($index)" class="external">
                                        <img :src="product.ImgUrl" style='width: 5.53rem;'>
                                    </a>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title"><span class="my-red-tag" v-if="product.Tag.length > 0">${product.Tag}</span>${product.Name.length > 15 ? product.Name.substring(0,15)+'...':product.Name}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-50">
                                            <span class="my-red-text my-30-text">￥${product.SecKillPrice}</span>
                                            <del class="my-22-text my-gray-text">￥${product.OriginPrice}</del>
                                            <br>
                                            <span class="my-gray-text my-22-text ">剩余：${product.TotalCount}件</span>
                                        </div>
                                        <div class="col-50 my-right-text">
                                            <a :href="'/product/secKill-detail?id='+product.SysNo" class="button button-fill external" v-show="product.killStatus === 1">立即抢购</a>
                                            <a href="#" class="my-flash-deal-time" v-show="product.killStatus === 2"><span>即将开始</span><span class="my-red-text">${product.remainStart}</span></a>
                                            <a href="#" class="button button-fill disabled" v-if="product.killStatus === 0">已结束</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
        <a href="/cart/cart-no-footer" class="my-product-cart external">
            <span class="icon icon-cart"></span>
            <span class="badge">30</span>
        </a>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='../js/controller/product-ctrl.min'></script>
