<div class="page-group">
    <div id="page-product-class" class="page page-current">
        <header class="bar bar-nav row my-search-top">
            <div class="search-input col-80">
                <label class="icon icon-search" for="search"></label>
                <input type="search" id="search" placeholder="输入关键字..." v-model="search"/>
                <a href="#" class="icon icon-clear"></a>
            </div>
            <a class="button button-fill-white  col-20">搜索</a>
        </header>

        <nav class="bar bar-tab my-bar">
            <a class="tab-item external" href="#">
                <span class="icon icon-home"></span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item external active" href="#">
                <span class="icon icon-classactive"></span>
                <span class="tab-label">分类</span>

            </a>
            <a class="tab-item external" href="/cart/cart">
                <span class="icon icon-cart"></span>
                <span class="tab-label">购物车</span>
            </a>
            <a class="tab-item external" href="/users">
                <span class="icon icon-my"></span>
                <span class="tab-label">我的</span>
                <span class="badge">2</span>
            </a>
        </nav>


        <div class="content native-scroll">
            <div class="my-tab">
                <a href="#tab1" class="tab-link active">推荐组合</a>
                <a href="#tab2" class="tab-link">分类一</a>
                <a href="#tab3" class="tab-link">分类二</a>
                <a href="#tab4" class="tab-link">分类三</a>
                <a href="#tab5" class="tab-link">分类四</a>
                <a href="#tab6" class="tab-link">分类五</a>

            </div>

            <div class="tabs my-tabs">
                <div id="tab1" class="tab active">
                    <div class="content-block clearfix">
                        <p class="my-gray-text my-22-text">子分类</p>
                        <ul class="my-ul my-img-list">
                            <li>
                                <a href="/product/list" class="my-22-text external">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="/product/list" class="my-22-text external">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="/product/list" class="my-22-text external">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="/product/list" class="my-22-text external">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="/product/list" class="my-22-text external">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="/product/list" class="my-22-text external">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="/product/list" class="my-22-text external">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="/product/list" class="my-22-text external">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="tab2" class="tab">
                    <div class="content-block clearfix">
                        <p class="my-gray-text my-22-text">子分类</p>
                        <ul class="my-ul my-img-list">
                            <li>
                                <a href="#" class="my-22-text">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="my-22-text">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="my-22-text">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="my-22-text">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="my-22-text">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="my-22-text">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="my-22-text">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="my-22-text">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="tab3" class="tab">
                    <div class="content-block clearfix">
                        <p class="my-gray-text my-22-text">子分类</p>
                        <ul class="my-ul my-img-list">
                            <li>
                                <a href="#" class="my-22-text">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="my-22-text">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="my-22-text">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="my-22-text">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="my-22-text">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="my-22-text">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="my-22-text">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="my-22-text">
                                    <span class="my-img-auto"><img src="../images/demo/product-class.gif" width="132" height="132" alt=""/></span>
                                    <span>子分类</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='../js/controller/product-ctrl'></script>
